.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-btn:hover {
  cursor: pointer;
}

[data-amplify-authenticator] {
  height: 100vh;
}

.check-in-btn {
  margin: 16px 0px;
}

.check-in-option {
  margin: 8px;
}

.check-in-option:hover {
  cursor: pointer;
}

.check-in-option__selected {
  color: red;
}

.youth-card {
  margin: 25px;
}

.site-selection-tooltip {
  z-index: 1;
}

.site-selection-page {
  .site-selection-header {
    font-size: 24px;
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.profile-icon:hover {
  cursor: pointer;
}
